<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
            <ion-back-button defaultHref = "/home"></ion-back-button>
        </ion-buttons>
    <ion-title>health-log</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Insulin Log</ion-card-title>
      <ion-card-subtitle>Notes</ion-card-subtitle>
      <ion-button  [routerLink]="['/health-log/insulin-log']">
          Details
    </ion-button>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title>Blood Pressure Log</ion-card-title>
        <ion-card-subtitle>Notes</ion-card-subtitle>
        <ion-button  [routerLink]="['/health-log/bloodpressure-log']">
          Details
    </ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
        <ion-card-title>Blood Glucose Log</ion-card-title>
        <ion-card-subtitle>Notes</ion-card-subtitle>
        <ion-button  [routerLink]="['/health-log/bloodglucose-log']">
          Details
    </ion-button>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
        <ion-card-title>Medication Log</ion-card-title>
        <ion-card-subtitle>Notes</ion-card-subtitle>
        <ion-button  [routerLink]="['/health-log/medication-log']">
          Details
    </ion-button>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
            <ion-checkbox></ion-checkbox>
        </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
