.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  
  .lightblues{
    width: 150px;
    height: 140px;
    color: white;
    background-color: #add8e6;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    margin:3px;
  }
  
  .darkblues{
    width: 150px;
    height: 140px;
    color: white;
    background-color: #191970;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    margin:3px;
  }
  
  .seagreen {
    width: 150px;
    height: 140px;
    color: white;
    background-color: #00ced1;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    margin:3px;
  }
  
  #second {
    font-size:11.3px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    float: top;
    margin-top:0px;
  }

  ion-item{
      margin-right:10px;
      margin-left:10px;
  }

  ion-icon{
      color:black;
      margin:0px;
}

ion-input{
    margin-left:5px;
}



  
  
  
  