
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/health-education"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <p id = "first">Health Education</p> 
       </ion-title>
  </ion-toolbar>

<ion-card class = "faded"></ion-card>



  <ion-content>
      <ion-list no-lines>
        <ion-card *ngFor="let tab of loadedTab.testRach; let i=index" text-wrap  (click)="toggleLevel('index'+i)" [ngClass]="{active: isLevelShown('index'+i)}">
          <ion-card-header>
              <ion-item lines="none">
                  <ion-avatar>
                      <img src="https://img.youtube.com/vi/vyElbR6BzZ8/mqdefault.jpg">
                    </ion-avatar>
                    <ion-card-title>{{tab.videoTitle}}</ion-card-title>
                    <ion-icon [name]="isLevelShown('index'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                </ion-item>
          </ion-card-header>
          
          <ion-card-content *ngIf="isLevelShown('index'+i)">
              <ion-card-subtitle>{{tab.videoDescription}}</ion-card-subtitle>
              <iframe width="100%" height="315"  [src]="tab.videoUrl"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </ion-card-content>
        </ion-card>
      </ion-list>
  </ion-content>


