<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-list no-lines>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-card [routerLink]="['/health-resources']">
                <ion-card-content>
                    <ion-card-title> Community Resources </ion-card-title>
                </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col>
              <ion-card [routerLink]="['/health-education']">
                <ion-card-content>
                    <ion-card-title> Health Education </ion-card-title>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card [routerLink]="['/health-calendar']">
                  <ion-card-content>
                      <ion-card-title> Health Calendar </ion-card-title>
                  </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card [routerLink]="['/tabs']">
                  <ion-card-content>
                      <ion-card-title> Health Card </ion-card-title>
                  </ion-card-content>
                </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-card [routerLink]="['/health-log']">
                    <ion-card-content>
                        <ion-card-title> Health Log </ion-card-title>
                    </ion-card-content>
                  </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card [routerLink]="['/home']">
                    <ion-card-content>
                        <ion-card-title> More Help </ion-card-title>
                    </ion-card-content>
                  </ion-card>
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-list>
</ion-content>
