.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


.my-width{
  width: 100px;
}

/*ion-toolbar {
  --min-height: 100px;
  --background: #fff url('../../assets/img/wavy.png') no-repeat center center / cover;
}*/


