  #select {
    color : #bebfc2;
    font-size: 15px;
    text-align: center;
  }

  .darks {
width: 400px;
  height: 140px;
  background-color: #191970;
  border-radius: 0px; 
  margin-bottom:10px;
  }


  .lights {
    width: 400px;
      height: 140px;
      background-color: #00ced1;
      border-radius: 0px; 
      margin-bottom:10px;
      }


    ion-card-header {
        color: white;
        float:left;
        padding-left: 140px;
        margin:0px;
      }

       ion-card-content{
        color: white;
        float:right;
        padding-left: 140px;
        padding-right:110px;
        padding-top:0px;
        margin:0px;
        p{
          font-weight: 300;
          padding:0px;
        }
      }

      img {
        float:left; 
        width: 80px; 
        height:80px;
        position:absolute;
        left:35px;
        top:30px;

      }

      h1 {
        font-size: 30px;
        text-align: center;
        float: top;
        margin-top:0px;
      }
    
      
  