<ion-header>
  <ion-toolbar>
    <ion-title>Edit Medication</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onMedicationEntered()" #f="ngForm">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Medication</ion-label>
              <ion-input 
              type="text" 
              ngModel={{medication_name}}
              name="medication"
              required></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Notes</ion-label>
              <ion-input 
              type="text"
              ngModel={{medication_notes}}
              name="notes"
              required
              ></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button 
          type="submit" 
          color="danger"
          expand="blocked" 
          [disabled]="!f.valid">
          Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>