<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button defaultHref="/information" color="danger"></ion-back-button>
      </ion-buttons>
      <ion-title>
         Edit Information
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Weight</ion-label>
              <ion-input  placeholder="140" type="number" autocomplete autocorrect></ion-input>
            </ion-item>
      </ion-col>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Height</ion-label>
              <ion-input  placeholder="5 11" type="number" autocomplete autocorrect></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>

      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label position="floating">Primary Contact</ion-label>
                  <ion-input  placeholder="555-555-5555" type="text" autocomplete autocorrect></ion-input>
                </ion-item>
          </ion-col>

          <ion-col>
              <ion-item>
                  <ion-label position="floating">Secondary Contact</ion-label>
                  <ion-input  placeholder="222-222-2222" type="text" autocomplete autocorrect></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
    
          <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">Dental Insurance</ion-label>
                      <ion-input  placeholder="Delta Dental" type="text" autocomplete autocorrect></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">Medical Insurance</ion-label>
                      <ion-input  placeholder="United Healthcare" type="text" autocomplete autocorrect></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
            
            
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Bloodtype</ion-label>
                        <ion-input  placeholder="A+" type="text" autocomplete autocorrect></ion-input>
                      </ion-item>
                </ion-col>
              </ion-row>    
              
              <ion-row>
                  <ion-col>
                      <ion-item>
                          <ion-label position="floating">Birthday</ion-label>
                          <ion-datetime placeholder="Mar 1, 1984"></ion-datetime>
                        </ion-item>
                  </ion-col>
                </ion-row>   
  </ion-grid>
</ion-content>
