<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button defaultHref="/information" color="danger"></ion-back-button>
      </ion-buttons>
      <ion-title>
         Edit Information
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onInformationEntered()" #f="ngForm">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Height (feet)</ion-label>
              <ion-input 
              type="number" 
              ngModel={{loadedInformation.height_feet}}
              name="height_feet"
              required></ion-input>
            </ion-item>
      </ion-col>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Height (inches)</ion-label>
              <ion-input  
              type="number" 
              ngModel={{loadedInformation.height_inches}}
              name="height_inches"
              required></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Weight (pounds)</ion-label>
              <ion-input 
              type="number" 
              ngModel={{loadedInformation.weight}}
              name="weight"
              required></ion-input>
            </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-label position="floating">Bloodtype</ion-label>
            <ion-input
            type="text" 
            ngModel="{{loadedInformation.bloodtype}}"
            name="bloodtype"
            required></ion-input>
          </ion-item>
    </ion-col>
    </ion-row>    

      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label position="floating">Primary Contact (enter with no dashes)</ion-label>
                  <ion-input 
                  type="number" 
                  ngModel={{loadedInformation.primary_contact}}
                  name="primary_contact"
                  required></ion-input>
                </ion-item>
          </ion-col>

          <ion-col>
              <ion-item>
                  <ion-label position="floating">Secondary Contact  (enter with no dashes)</ion-label>
                  <ion-input 
                  type="number" 
                  ngModel={{loadedInformation.secondary_contact}}
                  name="secondary_contact"
                  required></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
    
          <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">Medical Insurance</ion-label>
                      <ion-input 
                      type="text" 
                      ngModel="{{loadedInformation.medical_insurance}}"
                      name="medical_insurance"
                      required></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">Dental Insurance</ion-label>
                      <ion-input 
                      type="text" 
                      ngModel="{{loadedInformation.dental_insurance}}"
                      name="dental_insurance"
                      required></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
            
              
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Birthday</ion-label>
          <ion-datetime 
          type="text" 
          ngModel="{{loadedInformation.birthday}}"
          name="birthday"
          required></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>  
    
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label position="floating">Allergy Notes</ion-label>
            <ion-input  
            type="text" 
            ngModel="{{loadedInformation.allergy_notes}}"
            name="allergy_notes"
            required></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
        type="submit" 
        color="danger"
        expand="blocked" 
        [disabled]="!f.valid"
        >Update</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>
</ion-content>
