   
<ion-content padding style = "--background: linear-gradient(#9fd9ec,#30307c ) !important;">
<ion-title>
  <b>HCAP</b>
  <ion-icon name="add-circle"></ion-icon>
</ion-title>
<ion-list>
  <ion-item>
      <ion-icon style = "margin-right: 15px;" name="mail"></ion-icon>
<ion-input type = "email" placeholder = "Email">

</ion-input>
  </ion-item>
  <ion-item>
      <ion-icon style = "margin-right: 15px;" name="lock"></ion-icon>
      <ion-input type = "password" placeholder = "Password">
</ion-input>
  </ion-item>

  <ion-button routerLink = "/home">
    LOGIN
    <ion-icon name="play"></ion-icon>
  </ion-button>
</ion-list>


<p>Dont have an Account?  <span><a routerLink = "/register">SIGN UP</a></span></p>
</ion-content>
