	
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-button [routerLink]="['/add-appointment']">Add</ion-button>
  <!-- Card for adding a new event -->
  <!-- <ion-card-subtitle>{{loadedInformation.weight}}  lbs</ion-card-subtitle> -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{appointment.title}}</td>
        <td>{{appointment.description}}</td>
        <td>{{appointment.startTime}}</td>
        <td>{{appointment.endTime}}</td>
        <td>{{appointment.location}}</td>
      </tr>
    </tbody>
  </table>
                
</ion-content>
