#edit{
    color:white;
    float:right;
    position:absolute;
    top:10px;
    right:15px;
    height:30px;
    text-transform: none;
    font-weight:310;
}

.basics{
    color:white;
    width:95px;
    height:100px;
    border-radius:12px;
    margin:7px;
    padding:2px;
}

.basics1{
    top:2px;
    left:1px;
    font-size:30px;
}

.basics2{
 font-size:15px;
 color:white;
 font-weight:200;
 top:-5px;
left:11px;
 }

#height{
 font-size:15px;
color:white;
font-weight:200;
 top:-6px;
left:23px;
}

ion-card-header {
    text-align: center;
    color: white;
    font-size:50px;
    top:85px;
}