<ion-header>
    <ion-toolbar>
        <ion-title>Information</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button defaultHref = "/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button [routerLink]="['/edit-information']">Edit</ion-button>

    <ion-list no-lines>
        <ion-card>
            <ion-card-content>
                <ion-card-title> Weight </ion-card-title>
                <ion-card-subtitle> Empty </ion-card-subtitle>
            </ion-card-content>
        </ion-card>
        <ion-card>
                <ion-card-content>
                    <ion-card-title> Height </ion-card-title>
                    <ion-card-subtitle> Empty </ion-card-subtitle>
                </ion-card-content>
        </ion-card>
        <ion-card>
                <ion-card-content>
                    <ion-card-title> Blood Type </ion-card-title>
                    <ion-card-subtitle> Empty </ion-card-subtitle>
                </ion-card-content>
        </ion-card>
        <ion-card>
                <ion-card-content>
                    <ion-card-title> Birthday </ion-card-title>
                    <ion-card-subtitle> Empty </ion-card-subtitle>
                </ion-card-content>
        </ion-card>
        <ion-card>
                <ion-card-content>
                    <ion-card-title> Contacts</ion-card-title>
                    <ion-card-subtitle> Empty </ion-card-subtitle>
                </ion-card-content>
        </ion-card>
        <ion-card>
                <ion-card-content>
                    <ion-card-title> Allergies </ion-card-title>
                    <ion-card-subtitle> Empty </ion-card-subtitle>
                </ion-card-content>
        </ion-card>
        <ion-card>
                <ion-card-content>
                    <ion-card-title> Health Insurance Providers </ion-card-title>
                    <ion-card-subtitle> Empty </ion-card-subtitle>
                </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
